.fs-40px {
    font-size: 40px;
}

.font-f {
    font-family: 'Edu QLD Beginner', cursive;
}

/* img {
    width: 300px;
    height: 300px;
} */

.bg-#E9ECEF {
    background-color: #E9ECEF;
}